# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
reactnd-contacts-app/node_modules
reactnd-contacts-server2/node_modules

# testing
reactnd-contacts-app/coverage

# production
reactnd-contacts-app/build
reactnd-contacts-app/package-lock.json
reactnd-contacts-app/yarn.lock
reactnd-contacts-server2/package-lock.json
reactnd-contacts-server2/yarn.lock

# misc
.DS_Store
reactnd-contacts-app/.DS_Store
reactnd-contacts-server2/.DS_Store
reactnd-contacts-app/.env.local
reactnd-contacts-app/.env.development.local
reactnd-contacts-app/.env.test.local
reactnd-contacts-app/.env.production.local

reactnd-contacts-app/npm-debug.log*
reactnd-contacts-app/yarn-debug.log*
reactnd-contacts-app/yarn-error.log*
